table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
   
    text-align: left;
    padding: 0.8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }


  .responsivee {
    width: 10%;
    height: auto;
  }